services:
  tax_data:
    image: 300536313917.dkr.ecr.us-east-1.amazonaws.com/tax-api:prod
    pull_policy: always

    env_file:
      - .env

    ports:
      - "8080:8080"
    logging:
      driver: awslogs
      options:
        awslogs-region: ${AWS_REGION}
        awslogs-group: ${CLOUDWATCH_LOG_GROUP:-/aws/ec2/tax-api}